In [43]:
# 1. 판다스와 넘파이를 임포트하기

import pandas as pd
import numpy as np
from icecream import ic
'''
 - (1) pivot()
 90도 회전(rotation)
 컬럼 -> 인덱스로 변환

 - (2) stack(), unstack()
 stack이 (위에서 아래로 길게, 높게) 쌓는 것이면,
 unstack은 쌓은 것을 옆으로 늘어놓는것(왼쪽에서 오른쪽으로 넓게) 라고 연상이 될 것입니다.



 - (3) melt()

 - (4) wide_to_long()

 - (5) pd.crosstab()

'''

'\n - (1) pivot()\n 90도 회전(rotation)\n 컬럼 -> 인덱스로 변환\n\n - (2) stack(), unstack()\n stack이 (위에서 아래로 길게, 높게) 쌓는 것이면,\n unstack은 쌓은 것을 옆으로 늘어놓는것(왼쪽에서 오른쪽으로 넓게) 라고 연상이 될 것입니다.\n\n\n\n - (3) melt()\n\n - (4) wide_to_long()\n\n - (5) pd.crosstab()\n\n'

In [44]:
# 2. 판다스 버전 출력
pd.__version__

'1.2.4'

In [45]:
# 3. 판다스 라이브러리 버전 정보 모두 출력
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 2cb96529396d93b46abab7bbc73a208e708c642e
python           : 3.8.8.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19041
machine          : AMD64
processor        : Intel64 Family 6 Model 158 Stepping 13, GenuineIntel
byteorder        : little
LC_ALL           : en_US.UTF-8
LANG             : en_US.UTF-8
LOCALE           : Korean_Korea.949

pandas           : 1.2.4
numpy            : 1.20.1
pytz             : 2021.1
dateutil         : 2.8.1
pip              : 21.0.1
setuptools       : 52.0.0.post20210125
Cython           : 0.29.23
pytest           : 6.2.3
hypothesis       : None
sphinx           : 4.0.1
blosc            : None
feather          : None
xlsxwriter       : 1.3.8
lxml.etree       : 4.6.3
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.3
IPython          : 7.22.0
pandas_datareader: None
bs4              : 4.9.3
bottleneck       : 1.3.2
fsspec           : 0.9.0
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.4
numexpr          : 2.7.3
odfpy            : None
openpyxl         : 3.0.7
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.6.2
sqlalchemy       : 1.4.7
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 2.0.1
xlwt             : 1.3.0
numba            : 0.53.1

In [46]:
# 4. 주어진 값으로 DataFrame 객체를 생성하시오
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)

In [47]:
# 5. 객체내부 정보를 출력
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [48]:
# 6. 객체 상위 3열까지 출력하시오
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [49]:
# 6. 객체 상위 3열까지 출력
df.iloc[:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [50]:
# 7. animal과 age 컬럼만 출력하시오
df[['animal','age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [51]:
# 7. animal과 age 컬럼만 출력
df.loc[:,['animal','age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [52]:
# 8. 객체의 3,4,8번 행에 해당하는 animal과 age값만 출력
df.loc[df.index[[3,4,8]], ['animal','age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [53]:
# 9. visit 컬럼에서 3 초과하는 값 출력
df[df['visits']>2]

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

In [54]:
# 10. age 에서 NaN 값 출력
df[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [55]:
#11. age가 3살 미만 고양이값 출력
df[(df['age']<3) & (df['animal'] =='cat')]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [56]:
#12. age가 2살이상 4살 미만인 값 출력
df[df['age'].between(2,4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

In [57]:
#13. f행의 나이를 1.5살로 변경
df.loc['f','age'] = 1.5

In [58]:
#14. 객체에서 visit의 함 출력
df['visits'].sum()

19

In [59]:
#15. 동물별로 나이의 평균 출력
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

In [60]:
# 16. k행을 추가하여 dog , 5.5세, 방문회수 2회, 우선권없음(no) 열을 추가
df.loc['k'] = ['dog',5.5,2,'no']

In [61]:
# 16. 방금 추가한 열 삭제
df.drop('k', inplace=True)
# del df['k']

In [62]:
# 17. 객체에 있는 동물의 종류의 수 출력
df['animal'].value_counts()

dog      4
cat      4
snake    2
Name: animal, dtype: int64

In [63]:
# 18. age 는 내림차순, visits 는 오름차순으로 정렬
df.sort_values(by=['age','visits'], ascending=[False, True])

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [64]:
# 19. priority 의 yes를 True, no 를 False  로 맵핑 후 출력
df['priority'] = df['priority'].map({'yes':True, 'no':False})
df

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  1.5       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

In [65]:
# 20. snake 를 python 으로 값을 변경
df['animal'] = df['animal'].replace('snake','python')
df

   animal  age  visits  priority
a     cat  2.5       1      True
b     cat  3.0       3      True
c  python  0.5       2     False
d     dog  NaN       3      True
e     dog  5.0       2     False
f     cat  1.5       3     False
g  python  4.5       1     False
h     cat  NaN       1      True
i     dog  7.0       2     False
j     dog  3.0       1     False

In [66]:
# 21. 각각의 동물 유형과 방문 횟수에 대해, 평균나이를 찾으시오. 
# 즉,각 행은 animal 이고, 각 열은 visits 이며, 값은 평균연령
# (힌트, 피벗 테이블을 활용해야 함)
df = df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')
df

visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
python  4.5  0.5   NaN

In [67]:
# 22. 다음 객체에서 키값 A와 중복된 값이 제거된 1,2,3,4,5,6,7이 출력되는 코드

df = pd.DataFrame({'A': [1, 2, 2 ,3, 4, 5, 5, 6, 7, 7]})
df = df.drop_dupicates()
print(df)

AttributeError: 'DataFrame' object has no attribute 'drop_dupicates'

In [ ]:
# 23. 다음 객체에서 행의 각 요소에서 행의 평균을 뺀 값을 출력하되 부분집합으로 가로 출력
df = pd.DataFrame(np.random.random(size=(5,10)))
df = df.sub(df.mean(axis=1), axis=0)
print(df)

In [ ]:
#24. 다음 객체에서 가장 작은 합계를 가진

In [ ]:
# 25. 다음 객체에서 중복된 값이 없는 유니크한 열의 카운트 출력(중복되지 않은 행은 몇 개..)
df = pd.DataFrame(np.random.randint(0, 2, size=(10,3)))
print(df)
#len(df) - df.duplicate(keep=False).sum()
print(df.drop_duplicates(keep=False))

In [ ]:
# 26. 다음 객체에서 중복된 값이 없는 유니크한 열의 카운트 출력(중복되지 않은 행은 몇 개..)

In [ ]:
#28 다음 객체를 list 로 변환하시오
df = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]})
arr = df.values
#print(type(arr)) <class 'numpy.ndarry'>
ls = arr.tolist()
print(type(ls))
print(df.values.tolist())

In [ ]:
#29 다음 객체를 dictionary 로 변환하시오
df = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]})
print(df.to_dict())